* {
  font-family: 'Montserrat', sans-serif;
  color: #17f4a8;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.header-website-title,
.main--title-container,
.main--project-title,
.form-title,
.main--project-button,
.nav-proj-button,
.header--button,
.button--dropdown {
  text-shadow: -1px 1px 0 ,  1px 1px 0  black,  1px -1px 0 blue,  -1px -1px 0  white;
}

.header-website-title {
  font-size: 30px;
  text-align: center;
  color: #17f4a8;
}

.main--project-button, button.button--dropdown, .header--button {
  font-size: 25px;
}

a .header--button {
  text-align: center;
  color: #17f4a8;
}

.main--title-container {
  margin-top: 5px;
  margin-left: 10px;
  margin: auto;
}

.main--title-container {
  font-size: 32px;
}

.main--project-title {
  font-size: 30px;
}

.main--title-container,
.main--project-title,
.main--project-description {
  text-align: center;
}

.button--dropdown-content p {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.myDropdown--cv-work-duties-list {
  list-style-type: none;
  margin: auto;
  margin-bottom: 10px;
}

.myDropdown--cv-work-duties-items {
  margin-top: 5px;
}

.myDropdown--cv-edu-uni-title, .myDropdown--cv-work-company,
.myDropdown--cv-cert-company {
  text-shadow: -1px 1px 0 ,  1px 1px 0  black,  1px -1px 0 blue,  -1px -1px 0  white;
}

.myDropdown--cv-edu-uni-title, .myDropdown--cv-work-company, .myDropdown--cv-cert-company {
  font-size: 30px;
}

.myDropdown--cv-edu-uni-desc, .myDropdown--cv-work-title, .myDropdown--cv-cert-title,
.myDropdown--cv-work-link-title {
  font-size: 22px;
  color: #0780fa;
  text-shadow: 1px 1px 0 #17f4a8;
}

.myDropdown--cv-date, .myDropdown--cv-cert-date {
  color: #0780fa;
  font-size: 20px;
  text-shadow: 1px 1px 0 #17f4a8;
}

.myDropdown--cv-work-client-website:hover {
  background-color: #0780fa;
  border-radius: 25px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.background {
  background-size: 400% 400%;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0px;
}

.cube {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px #D7D4E4;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: scale(0) rotate(0deg) translate(-50%, -50%);
          transform: scale(0) rotate(0deg) translate(-50%, -50%);
  -webkit-animation: cube 12s ease-in forwards infinite;
          animation: cube 12s ease-in forwards infinite;
}

.cube:nth-child(2n) {
  border-color: #17f4a8;
}

.cube:nth-child(2) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  left: 25vw;
  top: 40vh;
}

.cube:nth-child(3) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  left: 75vw;
  top: 50vh;
}

.cube:nth-child(4) {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
  left: 90vw;
  top: 10vh;
}

.cube:nth-child(5) {
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
  left: 10vw;
  top: 85vh;
}

.cube:nth-child(6) {
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
  left: 50vw;
  top: 10vh;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-webkit-keyframes cube {
  from {
    -webkit-transform: scale(0) rotate(0deg) translate(-50%, -50%);
            transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(20) rotate(960deg) translate(-50%, -50%);
            transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

@keyframes cube {
  from {
    -webkit-transform: scale(0) rotate(0deg) translate(-50%, -50%);
            transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(20) rotate(960deg) translate(-50%, -50%);
            transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

.span--divider {
  margin-top: 10px;
  margin-bottom: 10px;
}

.span--divider-1, .span--divider-2, .span--divider-3 {
  background-color: #17f4a8;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 3px;
  -webkit-box-shadow: 10px 5px 5px blue;
          box-shadow: 10px 5px 5px blue;
  padding: 5px;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.span--divider-1 {
  width: 75%;
}

.span--divider-1:hover, .span--divider-2:hover, .span--divider-3:hover {
  -webkit-transform: scaleY(1.3) translateX(10px);
          transform: scaleY(1.3) translateX(10px);
}

.span--divider-2 {
  width: 50%;
}

.span--divider-3 {
  width: 25%;
}

.span--cv-divider {
  margin-top: 10px;
  margin-bottom: 10px;
}

.span--cv-divider-1, .span--cv-divider-2, .span--cv-divider-3 {
  background-color: #17f4a8;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 3px;
  -webkit-box-shadow: 10px 5px 5px blue;
          box-shadow: 10px 5px 5px blue;
  padding: 5px;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.span--cv-divider-1 {
  width: 75%;
}

.span--cv-divider-1:hover, .span--cv-divider-2:hover, .span--cv-divider-3:hover {
  -webkit-transform: scaleY(1.3) translateX(10px);
          transform: scaleY(1.3) translateX(10px);
}

.span--cv-divider-2 {
  width: 50%;
}

.span--cv-divider-3 {
  width: 25%;
}

.main--project-button,
.button--dropdown {
  width: 85%;
}

.header--button {
  width: 85%;
  border-bottom: 4px solid #17f4a8;
}

a .header--button {
  border-radius: 10px;
  cursor: pointer;
}

a .header--button:hover, .button--dropdown:hover {
  border-color: #94989c;
}

.main--project-button {
  margin: auto;
  padding: 10px;
  background: #96c1ed;
  background: -webkit-gradient(linear, left top, right top, from(#96c1ed), to(#0780fa));
  background: linear-gradient(90deg, #96c1ed 0%, #0780fa 100%);
  border-radius: 10px;
  border-bottom: 4px solid #17f4a8;
}

.main--project-button .main--project-button-font {
  text-align: center;
  margin: auto;
}

.main--project-button:hover {
  border-color: #94989c;
}

/* DROP BUTTON CODE */
.button--dropdown {
  margin: auto;
  border-radius: 10px;
  background: #96c1ed;
  background: -webkit-gradient(linear, left top, right top, from(#96c1ed), to(#0780fa));
  background: linear-gradient(90deg, #96c1ed 0%, #0780fa 100%);
  color: #17f4a8;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  cursor: pointer;
}

.button--dropdown-container {
  position: relative;
  display: inline-block;
}

.button--dropdown-content {
  display: none;
  position: relative;
  width: 87%;
  margin: auto;
  min-width: 160px;
  z-index: 1;
}

.show {
  display: block;
}

particle {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  background-repeat: no-repeat;
  background-size: contain;
}

.transition {
  padding: 10px;
  margin: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: #96c1ed;
  background: -webkit-gradient(linear, left top, right top, from(#96c1ed), to(#0780fa));
  background: linear-gradient(90deg, #96c1ed 0%, #0780fa 100%);
  border-radius: 10px;
}

.preloader {
  position: absolute;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/127738/mario-face.png);
}

.grid {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 520px 1fr 40px;
      grid-template-rows: 520px 1fr 40px;
      grid-template-areas: "header" "main" "footer";
  background: #128082;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, #128082), color-stop(37%, #042b4d));
  background: linear-gradient(0deg, #128082 10%, #042b4d 37%);
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
}

footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
}

.header--profile-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 110px;
  height: 130px;
  border-radius: 50%;
  margin-bottom: 10px;
  margin: auto;
  border: 1px solid #17f4a8;
}

.main--project-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  border-radius: 360%;
  margin: auto;
  border: #17f4a8 solid 2px;
}

.svg--path, path {
  -webkit-animation: fill 6s ease-in-out infinite;
          animation: fill 6s ease-in-out infinite;
  -webkit-transform-origin: 180px 180px;
          transform-origin: 180px 180px;
  transform-box: fill-box;
}

@-webkit-keyframes fill {
  0% {
    fill: #17f4a8;
  }
  25% {
    fill: blue;
  }
  35% {
    fill: blue;
  }
  100% {
    fill: #17f4a8;
  }
}

@keyframes fill {
  0% {
    fill: #17f4a8;
  }
  25% {
    fill: blue;
  }
  35% {
    fill: blue;
  }
  100% {
    fill: #17f4a8;
  }
}

.sm--bigger-svg {
  width: 50px;
}

.sm--smaller-svg {
  width: 50px;
  height: 50px;
}

path {
  fill: white;
  -webkit-transition: -webkit-transform 10s ease-in-out;
  transition: -webkit-transform 10s ease-in-out;
  transition: transform 10s ease-in-out;
  transition: transform 10s ease-in-out, -webkit-transform 10s ease-in-out;
}

.myDropdown--cv-edu-img, .myDropdown--cv-work-img, .myDropdown--cv-cert-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  border-radius: 360%;
  margin: auto;
  border: #17f4a8 solid 2px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

label, input, textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin: auto;
}

input, textarea {
  width: 85%;
  border-radius: 10px;
  font-size: 17px;
}

input {
  height: 40px;
}

textarea {
  height: 80px;
  padding-top: 30px;
}

label {
  margin: auto;
  text-align: center;
  color: #17f4a8;
  text-shadow: 1px 1px 0 #17f4a8;
}

.form--project-button {
  margin: auto;
  padding: 10px;
  background: #96c1ed;
  background: -webkit-gradient(linear, left top, right top, from(#96c1ed), to(#0780fa));
  background: linear-gradient(90deg, #96c1ed 0%, #0780fa 100%);
  border-radius: 10px;
  border-bottom: 4px solid #17f4a8;
  cursor: pointer;
  width: 85%;
  margin-bottom: 25px;
}

.form--project-button:hover {
  border-color: #94989c;
}

header, nav, main, footer {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header--button
.header--navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.header-website-title {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header--navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.span--divider,
.span--divider-1,
.span--divider-2,
.span--divider-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.span--divider {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.span--cv-divider,
.span--cv-divider-1,
.span--cv-divider-2,
.span--cv-divider-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.span--cv-divider {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

main {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 10px;
  width: 100%;
}

.main--title-container
.main--content-container,
.main--content-header,
.main--project-container,
.main--project-idv-group,
.main--project-button,
.button--dropdown-container,
.button--dropdown,
a .main--project-button,
.main--project-button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main--content-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main--project-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 10px;
}

.main--project-idv-group {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.main--project-button-group {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button--dropdown-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.button--dropdown {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

input, textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form--container,
form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: -5px;
  width: 100%;
}

.form--container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 20px;
}

.social-media-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: -23px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav--container {
  display: none;
}

@media only screen and (min-width: 614px) {
  .grid {
    height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 75px 1fr;
        grid-template-columns: 75px 1fr;
    -ms-grid-rows: 420px 1fr 40px;
        grid-template-rows: 420px 1fr 40px;
        grid-template-areas: "header header" "nav main" "footer footer";
  }
  header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: header;
  }
  nav {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: nav;
    margin: 0;
  }
  main {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: main;
  }
  footer {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: footer;
  }
  .header-website-title,
  .main--title-container,
  .main--project-title,
  .form-title,
  .main--project-button,
  .nav--proj-links,
  a .header--button,
  .button--dropdown {
    text-shadow: -1px 1px 0 ,  2px 2px 0  black,  2px -2px 0 blue,  -2px -2px 0  white;
  }
  .span--divider-1, .span--divider-2, .span--divider-3 {
    padding: 10px;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .header--navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  .header--button {
    font-size: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 10px 30px;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .header--button {
    font-size: 30px;
  }
  .header--profile-pic {
    width: 150px;
    height: 170px;
  }
  .header-website-title {
    font-size: 50px;
  }
  nav,
  .nav--container,
  .nav--title,
  .nav-proj-button,
  .nav--proj-grouping,
  .nav--proj-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .nav--container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 115px;
  }
  .nav--proj-grouping {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav--proj-links {
    font-size: 45px;
    color: #17f4a8;
    border-radius: 50%;
    border: solid 1px #94989c;
    width: 80px;
    height: 75px;
    padding-top: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #ddd;
  }
  .nav--proj-links {
    margin: auto;
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    cursor: pointer;
  }
  .nav--proj-links:hover {
    -webkit-transform: scaleY(1.3) translateX(10px);
            transform: scaleY(1.3) translateX(10px);
  }
  .main--title-container {
    font-size: 45px;
    margin: auto;
    margin-bottom: 10px;
  }
  .main--project-title {
    font-size: 37px;
  }
  .main--project-button, .form--project-button, button.button--dropdown {
    font-size: 30px;
  }
  .main--project-preview {
    width: 120px;
  }
  .form-title {
    font-size: 45px;
  }
  label {
    font-size: 30px;
  }
  input, textarea {
    font-size: 25px;
  }
  textarea {
    height: 100px;
    padding-top: 30px;
  }
}

@media only screen and (min-width: 820px) {
  .grid {
    height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50px 1fr;
        grid-template-columns: 50px 1fr;
    -ms-grid-rows: 440px 1fr 40px;
        grid-template-rows: 440px 1fr 40px;
        grid-template-areas: "header header" "nav main" "footer footer";
    background: #128082;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, #128082), color-stop(37%, #042b4d));
    background: linear-gradient(0deg, #128082 10%, #042b4d 37%);
  }
  header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: header;
  }
  nav {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: nav;
    margin: 0;
  }
  main {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: main;
  }
  footer {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: footer;
  }
  .main--title-container,
  .main--project-title,
  .form-title,
  .main--project-button,
  .form--project-button,
  .nav-proj-button,
  .header--button {
    font-size: 40px;
    text-shadow: -1px 1px 0 ,  3px 2px 0  black,  3px -2px 0 blue,  -3px -2px 0  white;
  }
  .header-website-title {
    font-size: 55px;
  }
  button.button--dropdown {
    font-size: 40px;
  }
  .nav--proj-grouping {
    margin-top: 50px;
  }
  .form-socialmedia-flex-container {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  form {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
  }
  .form-title {
    margin-left: 50%;
    margin-top: 20px;
  }
  label {
    font-size: 35px;
  }
  input, textarea {
    font-size: 30px;
  }
  input {
    height: 60px;
    width: 100%;
  }
  textarea {
    font-size: 30px;
    height: 160px;
    padding-top: 60px;
    width: 100%;
  }
  .form--project-button {
    width: 100%;
  }
  .sm--bigger-svg {
    width: 100px;
  }
  .sm--smaller-svg {
    width: 100px;
    height: 100px;
  }
  .social-media-container {
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    gap: 40px;
  }
}
/*# sourceMappingURL=styles.css.map */