* {
  font-family: 'Roboto', sans-serif;
  color: #eee;
}

.header-website-title {
  font-size: 30px;
  text-align: center;
}

a .nav--button {
  font-size: 20px;
}

.main--title-container,
.main--project-title,
.main--project-description {
  text-align: center;
}

a .main--project-button {
  text-align: center;
}

label {
  text-align: center;
  margin: auto;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.main--project-button {
  margin: auto;
  width: 85%;
  background-color: #0780fa;
  border-radius: 10px;
}

a .main--project-button {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #17f4a8;
  -webkit-text-decoration-style: none;
          text-decoration-style: none;
}

particle {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  background-repeat: no-repeat;
  background-size: contain;
}

.transition {
  padding: 10px;
  margin: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #94989c;
  border-radius: 10px;
}

.preloader {
  position: absolute;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/127738/mario-face.png);
}

.grid {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 110px 160px 1fr 40px;
      grid-template-rows: 110px 160px 1fr 40px;
      grid-template-areas: "header" "nav" "main" "footer";
  background: #128082;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(1%, #128082), color-stop(37%, #042b4d));
  background: linear-gradient(0deg, #128082 1%, #042b4d 37%);
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

nav {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: nav;
}

main {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: main;
}

footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: footer;
}

.sm--bigger-svg {
  width: 50px;
}

.sm--smaller-svg {
  width: 50px;
  height: 50px;
}

label, input, textarea {
  text-align: center;
  margin: auto;
}

input, textarea {
  width: 85%;
}

input {
  height: 30px;
}

textarea {
  height: 70px;
}

header, nav, main, footer {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.nav--navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 10px;
}

.main--content-container,
.main--content-header,
.main--project-container,
.main--project-idv-group,
.main--project-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main--project-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 10px;
}

.main--project-idv-group {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main--project-button-group {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: -5px;
}

.form--container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 10px;
}

.social-media-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: -23px;
}

a .nav--button {
  font-size: 20px;
  text-align: center;
  list-style-type: none;
  -webkit-text-decoration-style: none;
          text-decoration-style: none;
}
/*# sourceMappingURL=styles.css.map */