//========== MIXINS =============

@mixin background {
    background: rgb(18,128,130);
    background: linear-gradient(0deg, rgba(18,128,130,1) 1%, rgba(4,43,77,1) 37%);
}

@mixin main-border-style {
    border-radius: 10px;
}

@mixin button-background {
    background: rgb(150,193,237);
    background: linear-gradient(90deg, rgba(150,193,237,1) 0%, rgba(7,128,250,1) 100%);
}