// ============================================= 
//Variable                      
// =============================================

//Colors

    $default-white: #eee;
    $chrome-grey: #94989c;
    $text-color: #17f4a8;
    $button-color: #0780fa;
    // $defult-white: white;
    // $seconday-white: #e0e0eb;
    // $default-grey: #777;













