// ============================================= 
//                  Base style                      
// =============================================

* {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
}

body {
        display: flex;
        // min-height: 100vh;
        align-items: center;
        // flex-wrap: wrap;
        justify-content: center;
        // overflow: hidden;
        text-align: center;
}

.span--divider {
        margin-top: 10px;
        margin-bottom: 10px;
}

.span--divider-1, .span--divider-2, .span--divider-3 {
        background-color: $text-color;
        @include main-border-style;
        margin: auto;
        margin-bottom: 3px;
        box-shadow: 10px 5px 5px blue;
        padding: 5px;
        transition: transform .3s ease-in-out;
}

.span--divider-1 {
        width: 75%;
}

.span--divider-1:hover, .span--divider-2:hover, .span--divider-3:hover  {
        transform: scaleY(1.3) translateX(10px);
}   

.span--divider-2 {
        width: 50%;
}

.span--divider-3 {
        width: 25%;
}

