// ============================================= 
//                  BUTTONS                      
// =============================================
 

//======== GENERAL BUTTON RULES =========

.main--project-button, 
.button--dropdown {
  width: 85%;
}

//========= HEADER ============

// .nav--button {
.header--button {
  width: 85%;
  border-bottom: 4px solid $text-color;

}


a .header--button {
// a .nav--button {
  // border-bottom: 4px solid $text-color;
@include main-border-style; 
cursor: pointer;

}

// a .nav--button:hover {
a .header--button:hover {
  border-color: $chrome-grey;
}


//========= MAIN ============

.main--project-button {
  margin: auto;
  padding: 10px;
  @include button-background;
  @include main-border-style;
  border-bottom: 4px solid $text-color;
  cursor: pointer;
}

.main--project-button:hover {
  border-color: $chrome-grey;
}

a .main--project-button {
  justify-content: center;
  color: $text-color;
  text-decoration-style: none;
}


//============DROP DOWN SECTION========

/* DROP BUTTON CODE */
.button--dropdown {
  margin: auto;
  @include main-border-style;
  // border-bottom: 4px solid $text-color;

  /* BACKGROUND COLOR */
  @include button-background;
  /* FONT COLOR */
  color: $text-color;
  /* PADDING FOR THE OVERALL BUTTON */
  // width: 85%;
  // padding-left: 105px;
  // padding-right: 105px;
  padding-top: 10px;
  padding-bottom: 10px;
  /* FONT SIZE FOR THE BUTTON */
  // font-size: 16px;
  border: none;
  cursor: pointer;
}

// .button--dropdown:hover {
//   border-color: purple;

// }


/* DROP DOWN HOVER EFFECT */
// .button--dropdown:hover, .button--dropdown:focus {
//   // background-color: $text-color;
//   // color: $button-color;
// }

.button--dropdown-container {
   /* SET THE POSITION FOR DROP DOWN CONTENT */
  position: relative;
  display: inline-block;
}

/*  DROP DOWN CONTENT SECTION*/
.button--dropdown-content {
  display: none;
  /* CHOSE ONE><><><><><> */
     /* IF ABSOLUTE > IT COVERS OVER IT */
     /* position: absolute; */
     /* IF RELATIVE IT PUSHES IT DOWN */
     position: relative;
     /* <><><><><><><>><><><><>>< */
  /*CHANGES COLOR OF THE DROP DOWN MENU */
  background-color: $chrome-grey;
  /* CONTROLS THE WIDTH OF THE DROP MENU */
  min-width: 160px;
  /* ******************************************* */
  /* ******DELETE THIS CODE IF USING LINKS****** /
  /* ******************************************* */
  // padding-top: 10px;
  // padding-bottom: 10px;
  // padding-left: 20px;
  // padding-right: 20px;
    /**********************************************/
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* EFFECTS THE LINKS */
// .button--dropdown-content a {
//   /* COLOR FONT OF THE CHILDREN ELEMENT OF THE MENU */
//   color: black;
//   /* PADDING FOR THE CHILDREN ELEMENT */
//   padding: 12px 16px;
//   text-decoration: none;
//   display: block;
// }

/* THIS TARGETS THE CHILD ELEMENTS'S HOVER EFFECT INSIDE OF A MENU  */
.button--dropdown-content a:hover {
  background-color: green
}

/* THE SHOW CLASS*/
.show {
   display:block;
}

//========= BUTTON TRANSITIONS # 1 =============
// Particles Popper Effect
// https://codemyui.com/square-emoji-shadow-and-line-particles-popper-effect-on-button-click/


//========= BUTTON TRANSITIONS =============

particle {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    background-repeat: no-repeat;
    background-size: contain;
  }

  // button {
  //   padding: 20px;
  //   margin: 10px;
  //   align-self: center;
  // }
  .transition {
    padding: 10px;
    margin: 10px;
    align-self: center;
   @include button-background;
    @include main-border-style;
  }
  .preloader {
    position: absolute;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/127738/mario-face.png);
  }


  //========= BUTTON TRANSITIONS # 2 =============

  //https://omprakash-76044.medium.com/attractive-glowing-neon-css-buttons-34b4c4bbe3a6
