// ============================================= 
//                  BUTTONS                      
// =============================================

//======== GENERAL BUTTON RULES =========

.main--project-button, 
.button--dropdown {
  width: 85%;
}

//========= HEADER ============

.header--button {
  width: 85%;
  border-bottom: 4px solid $text-color;
}

a .header--button {
  @include main-border-style; 
  cursor: pointer;
}

a .header--button:hover, .button--dropdown:hover {
  border-color: $chrome-grey;
}

//========= MAIN ============

.main--project-button {
  margin: auto;
  padding: 10px;
  @include button-background;
  @include main-border-style;
  border-bottom: 4px solid $text-color;
  // text-align: center;
}

.main--project-button .main--project-button-font {
  text-align: center;
  margin: auto;
}



// a .main--project-button {
//   justify-content: center;
//   color: $text-color;
//   text-decoration-style: none;
// }

// a .main--project-button-group {
//   margin: auto;

// }

//===================


// a .main--project-button {
// margin:auto;
// text-align: center;
// // margin-left: 100px;

// }

// .main--project-button {
//   margin:auto;
//   text-align: center;
//   }

// .main--project-button {
//   margin: auto;
//   padding: 10px;
//   @include button-background;
//   @include main-border-style;
//   border-bottom: 4px solid $text-color;
//   cursor: pointer;
// }

.main--project-button:hover {
  border-color: $chrome-grey;
}



//============DROP DOWN SECTION========

/* DROP BUTTON CODE */
.button--dropdown {
  margin: auto;
  @include main-border-style;
  @include button-background;
  color: $text-color;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  cursor: pointer;
}

.button--dropdown-container {
  position: relative;
  display: inline-block;
}

.button--dropdown-content {
  display: none;
  position: relative;
  width: 87%;
  margin: auto;
  min-width: 160px;
  z-index: 1;
}

.show {
   display:block;
}

//========= BUTTON TRANSITIONS # 1 =============
// Particles Popper Effect
// https://codemyui.com/square-emoji-shadow-and-line-particles-popper-effect-on-button-click/

//========= BUTTON TRANSITIONS =============

particle {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .transition {
    padding: 10px;
    margin: 10px;
    align-self: center;
    @include button-background;
    @include main-border-style;
  }

  .preloader {
    position: absolute;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/127738/mario-face.png);
  }