
//========================================
//============= FLEX SECTION =============
//========================================


// header {
//     margin: 0;
//     display: flex;
//     flex-direction: row;
//     justify-content: space-evenly;
//     //THIS CAN NEVER BE CENTERED WITH THE CONTAINER
//     // margin: auto;
// }

//======== GENERAL MAIN FLEX PROPERTIES =============

header, nav, main, footer {
    margin: 0;
    display: flex;
    // justify-content: center;
}

//======== HEADER =============

.header--button
// .nav--button
.header--navigation {

    display: flex;
}


header {
    flex-direction: column;
    width: 100%;
}

.header-website-title {
    flex-wrap: wrap;


}

.header--navigation {
    display: flex;
    flex-direction: column;
}



//======== MAIN DIVIDER =============

.span--divider,
.span--divider-1, 
.span--divider-2, 
.span--divider-3 {
    display: flex;
    // flex-basis: 100%;
}

.span--divider {
    flex-direction: column;
    justify-content: space-between;
        flex-basis: 100%;


}

//======== CV DIVIDER =============


.span--cv-divider,
.span--cv-divider-1, 
.span--cv-divider-2, 
.span--cv-divider-3 {
    display: flex;
    // flex-basis: 100%;
}

.span--cv-divider {
    flex-direction: column;
    justify-content: space-between;
        flex-basis: 100%;


}


//======== MAIN =============

main {
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    width: 100%;
}

.main--title-container
.main--content-container,
.main--content-header, 
.main--project-container, 
.main--project-idv-group,
.main--project-button,
.button--dropdown-container,
.button--dropdown {
    display: flex;
}

//-------- PROJECT SECTIONS -----------

.main--content-container {
    flex-direction: column;
}


.main--project-container {
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
}

.main--project-idv-group {
    flex-direction: column;
    gap: 10px;
}

.main--project-button-group {
    flex-direction: column;
    justify-content: space-evenly;

}
//-------- DROP DOWN MENU ------------

.button--dropdown-container {
    flex-direction: column;

}

.button--dropdown {
    justify-content: center;
}

//-------- FORM SECTIONS -----------

input, textarea {
    display: flex;
}

// .form-socialmedia-flex-container,
.form--container,
form {
    display: flex;
    flex-direction: column;
    gap:-5px;
    width: 100%;

}

.form--container {
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
}

//-------- SOCIAL MEDIA SECTIONS -----------

.social-media-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: -23px;
}

//-------- FOOTER SECTIONS -----------

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}