
//========================================
//============= FLEX SECTION =============
//========================================


// header {
//     margin: 0;
//     display: flex;
//     flex-direction: row;
//     justify-content: space-evenly;
//     //THIS CAN NEVER BE CENTERED WITH THE CONTAINER
//     // margin: auto;
// }

//======== GENERAL MAIN FLEX PROPERTIES =============

header, nav, main, footer {
    margin: 0;
    display: flex;
    // justify-content: center;
}

//======== HEADER =============


//======== NAVIGATION =============

.nav--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: stretch;
    margin: auto;
}

.nav--navigation {
    display: flex;
    flex-direction: column;
}

//======== MAIN =============

main {
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
}

.main--content-container,
.main--content-header, 
.main--project-container, 
.main--project-idv-group,
.main--project-button,
.button--dropdown-container,
.button--dropdown {
    display: flex;
}

//-------- PROJECT SECTIONS -----------

.main--content-container {
    flex-direction: column;
}


.main--project-container {
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
}

.main--project-idv-group {
    flex-direction: column;
    gap: 10px;
}

.main--project-button-group {
    flex-direction: column;
    justify-content: space-evenly;

}
//-------- DROP DOWN MENU ------------

.button--dropdown-container {
    flex-direction: column;

}

.button--dropdown {
    justify-content: center;
}

//-------- FORM SECTIONS -----------

// .form-socialmedia-flex-container,
.form--container,
// .form-title,
form {
    display: flex;
    flex-direction: column;
    gap:-5px;

}

.form--container {
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
}

//-------- SOCIAL MEDIA SECTIONS -----------

.social-media-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: -23px;
}

//-------- FOOTER SECTIONS -----------

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}