
// ============================================= 
//                  FORM                      
// =============================================

form {
    display: flex;
    width: 100%;
}

label, input, textarea {
    display: flex;
    text-align: center;
    margin: auto;
}

input, textarea {
    width: 85%;
    @include main-border-style;
    font-size: 17px;
}

input {
    height: 40px;
}

textarea {
    height: 80px;
    padding-top: 30px;
}

label {
    margin: auto;
    text-align: center;
    color: $text-color;
    // color: $button-color;
    text-shadow: 1px 1px 0  $text-color;
}

.form--project-button {
    margin: auto;
    padding: 10px;
    @include button-background;
    @include main-border-style;
    border-bottom: 4px solid $text-color;
    cursor: pointer;
    width: 85%;
    margin-bottom: 25px;
  }
  
.form--project-button:hover {
    border-color: $chrome-grey;
}