// ============================================= 
//                  IMAGES                      
// =============================================

//======== Education =========

.myDropdown--cv-edu-img, .myDropdown--cv-work-img, .myDropdown--cv-cert-img {
    display: flex;
    width: 100px;
    border-radius: 360%;
    margin: auto;
    border: $text-color solid 2px;
}