// ============================================= 
//                  Typography                      
// =============================================

//UNIVERSAL

* {
  font-family: 'Roboto', sans-serif;
  color: $default-white;
}


// ===== HEADER ======

.header-website-title {
  font-size: 30px;
  text-align: center;

}

// ===== NAVIGATION ======

a .nav--button {
  font-size: 20px;
}

// ===== MAIN ======

//-------- PROJECT SECTION-----------

.main--title-container,
.main--project-title,
.main--project-description {
    text-align: center;
}

a .main--project-button {
  text-align: center;

}

//-------- FORM SECTION-----------

label {
  text-align: center;
  margin: auto;

}


//-------- SOCIAL MEDIA SECTION -----------







