// ============================================= 
//                  Typography - CV                     
// =============================================

.myDropdown--cv-work-duties-list {
  list-style-type: none;
  margin: auto;
  margin-bottom: 10px;
}

.myDropdown--cv-work-duties-items {
  margin-top: 5px;
}

.myDropdown--cv-edu-uni-title, .myDropdown--cv-work-company,
.myDropdown--cv-cert-company {
text-shadow: -1px 1px 0 , 
  1px 1px 0  black, 
  1px -1px 0 blue, 
  -1px -1px 0  white ; 
}

.myDropdown--cv-edu-uni-title, .myDropdown--cv-work-company, .myDropdown--cv-cert-company {
  font-size: 30px;
}

.myDropdown--cv-edu-uni-desc, .myDropdown--cv-work-title, .myDropdown--cv-cert-title,
.myDropdown--cv-work-link-title  {
  font-size: 22px;
  color: $button-color;
  text-shadow: 1px 1px 0  $text-color;

}

.myDropdown--cv-date, .myDropdown--cv-cert-date {
  color: $button-color;
  font-size: 20px;
  text-shadow: 1px 1px 0  $text-color;
}

.myDropdown--cv-work-client-website:hover {
  background-color: $button-color;
  border-radius: 25px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}