// ============================================= 
//                  Typography                      
// =============================================

//UNIVERSAL

* {
  font-family: 'Montserrat', sans-serif;
  color: $text-color;
  margin: 0;
  padding: 0;
}

//====== GENERAL ======

a {
  text-decoration: none;
}

.header-website-title, 
.main--title-container, 
.main--project-title, 
.form-title, 
.main--project-button,
.nav-proj-button,
a .header--button,
.button--dropdown  {
text-shadow: -1px 1px 0 , 
  1px 1px 0  black, 
  1px -1px 0 blue, 
  -1px -1px 0  white ; 
}


// ===== HEADER ======

.header-website-title {
  font-size: 30px;
  text-align: center;
  color: $text-color;
}

//======  BUTTON IN GENERAL ====

.main--project-button, button.button--dropdown, a .header--button {
  font-size: 25px;
  text-align: center;
}

// ===== NAVIGATION ======

a .header--button {
  text-align: center;
  color: $text-color;
}

// ===== MAIN ======

//-------- PROJECT SECTION -----------


.main--title-container {
  margin-top: 5px;
  margin-left: 10px;
  margin: auto;
}

.main--title-container {
  font-size: 32px;
}

.main--project-title {
  font-size: 30px;

}

.main--title-container,
.main--project-title,
.main--project-description {
    text-align: center;
}

a .main--project-button {
  text-align: center;
}

.button--dropdown-content p {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;

}

//-------- FORM SECTION-----------


//-------- SOCIAL MEDIA SECTION -----------










