// /* ============================================= */
// /*              @Media Breakpoints                      */
// /* ============================================= */

@media only screen and (min-width: 820px) {
// @media only screen and (min-width: 1024px) {

//========== GRID ================
.grid {
    height: 100%;
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 440px 1fr 40px;
    grid-template-areas:  
    "header header"
    "nav main"
    "footer footer";
    @include background;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
    margin: 0;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

// .header-website-title {
//     color: red;
// }


//========== GENERAL FONTS

.main--title-container, 
.main--project-title, 
.form-title, 
.main--project-button,
.form--project-button,
.nav-proj-button,
.header--button  {
    font-size: 40px;
    text-shadow: -1px 1px 0 , 
    3px 2px 0  black, 
    3px -2px 0 blue, 
    -3px -2px 0  white ; 
}

.header-website-title {
    font-size: 55px;
}

button.button--dropdown {
    font-size: 40px;
}

.nav--proj-grouping {
    margin-top: 50px;
}

//=========== FORM ==========

.form-socialmedia-flex-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

form {
    flex-basis: 80%;
}

.form-title {
    margin-left :50%;  
    margin-top:20px;
}

label {
    font-size: 35px;
}

input, textarea {
    font-size: 30px;
}

input {
    height: 60px;   
    width: 100%;
}

textarea {
    font-size: 30px;
    height: 160px;  
    padding-top: 60px;
    width: 100%;
}

.form--project-button {
    width: 100%;
}

//======== SOCIAL MEDIA =====

.sm--bigger-svg {
    width: 100px;
}

.sm--smaller-svg {
    width: 100px;
    height: 100px;
}

.social-media-container {
    width: 100%;
    height: 100%;
    flex-direction: column;
    margin: auto;
    flex-basis: 50%;
    gap: 40px;
}


}
